#ver1 {
    position: absolute;
    width: 150px;
    height: 38px;
    left: 42px;
    top: 323px;
    font-family: 'Italianno';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FDADAD;
    text-decoration: none;
}

#ver2 {
    position: absolute;
    width: 150px;
    height: 38px;
    left: 251px;
    top: 323px;
    font-family: 'Italianno';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FDADAD;
    text-decoration: none;
}